# --- Caches e Arquivos de Performance ---
# Ignora o cache gerado para acelerar o boot do terminal
.cache_pwsh_plugins.ps1

# --- Backups e Temporários ---
# Ignora arquivos gerados por funções de edição (como o 'sed' que cria .bak)
*.bak
*.tmp
*.temp
*.log

# --- Segurança e Credenciais ---
# Não subir chaves de API, senhas ou tokens
.env
*secret*
*credential*
*.pfx
*.key

# --- Configurações de Editores e OS ---
# Pasta do VS Code e históricos de busca
.vscode/
.history/
.DS_Store
Thumbs.db

# --- Temas e Plugins Locais ---
# Não subir temas do Oh My Posh localmente na pasta do projeto
.poshthemes/
